* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(
    9deg,
    #0e0e0a -27.6%,
    #110e07 40.47%,
    #4101aa 103.1%,
    #1f0502 103.1%
  );

  overflow-x: hidden;
  font-family: "Manrope", sans-serif;
  box-sizing: border-box;
}

.tinder {
  position: relative;
  width: 500px;
  height: 500px;
}

.tinder--cards {
  position: absolute;
  width: 100%;
  height: 100%;
}

.card {
  width: 480px;
  min-height: 466px;
  background-color: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  padding: 35px;
  border-radius: 20px;
  border: 1px solid #deb4fe;
}

.tinder--card {
  gap: 32px;
  text-align: center;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  transition: transform 0.3s ease, opacity 0.3s ease;
  will-change: transform, opacity;
  cursor: grab;
  user-select: none;
  touch-action: pan-y;
  backdrop-filter: blur(10px);
}

.tinder--card article {
  gap: 42px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  min-height: 272px;
}
.tinder--card article .card-info {
  gap: 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.tinder--card h3 {
  color: #0c0e0c;
  font-size: 18px;
  font-weight: 500;
}

.tinder--card h1 {
  color: #0c0e0c;
  font-size: 35px;
  font-weight: 700;
}
.tinder--card .details {
  display: flex;
  flex-direction: column;
  gap: 22px;
  width: 100%;
}
.tinder--card .details .company {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.tinder--card .details .company .company--header {
  display: flex;
  align-items: center;
  gap: 6px;
}

.tinder--card img {
  width: 22px;
  height: 22px;
}

.tinder--card .additional {
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.tinder--card .additional p {
  color: #a5a7a5;
  font-size: 16px;
  font-weight: 500;
}
.tinder--card .additional span {
  color: #383d3a;
  font-size: 16px;
  font-weight: 500;
}
.tinder--card .additional > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.tinder--card .additional > div > div {
  display: flex;
  align-items: center;
}
.tinder--card .additional > div > div img {
  margin-left: 6px;
}

.tinder--buttons {
  display: flex;
  gap: 32px;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.tinder--buttons button {
  padding: 0;
  border: none;
  width: 70px;
  height: 70px;
  background: transparent;
  cursor: pointer;
  border-radius: 50%;
  transition: box-shadow 0.3s ease;
}

.tinder--buttons button:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.tinder--card.grabbing {
  cursor: grabbing;
}

.tinder--card.animate {
  transition: transform 0.5s ease, opacity 0.5s ease;
}

/* "Book a Call" modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  backdrop-filter: blur(10px);
}
.modal-content {
  display: flex;
  flex-direction: column;
  gap: 32px;
  text-align: center;
  justify-content: center;
}
.modal-content h2 {
  color: #0c0e0c;
  font-size: 40px;
  font-weight: 600;
}
.modal-content p {
  color: #0c0e0c;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.modal-content div {
  display: flex;
  gap: 10px;
}
.modal-content div button {
  font-size: 18px;
  font-weight: 500;
  line-height: 140%;
  display: flex;
  height: 50px;
  padding: 11.213px 22.427px;
  justify-content: center;
  align-items: center;
  gap: 11.213px;
  flex: 1 0 0;
  border-radius: 93.445px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.modal-content div button:first-child {
  color: #fff;
  border: 1px solid #d85bff;
  background: linear-gradient(92deg, #9747ff 1.45%, #da47ff 96.73%);
}
.modal-content div button:first-child:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.modal-content div button:last-child {
  color: #02b140;
  border: 1px solid #02b140;
  background: #fff;
}
.modal-content div button:last-child:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.close-modal {
  padding: 10px 20px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.close-modal:hover {
  background: #0056b3;
}
